body {
    background-color: black;
    /*instert background image*/
    /*could not get image to fit the background*/
}

/* My navagation links - About Me, Projects, Contact Info */
.links li {

    color:  rgb(13, 172, 143);;
    flex: 4;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Courier New';
    padding-left: 210px; 
    padding-top: 30px;  

    
}

/*This will make my links hightlight when I hoover over them*/
.links a:hover {
    text-shadow: 5px 5px 5px gray;
    color: rgb(13, 172, 143);

}
/*This will make my links go back to normal and keep them from showing up as visted sites */
a:visited{
    text-decoration: none;
    color:  gray;
}
section {
    font-family: 'Courier New';
    color: white;
    flex: 4;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* My profile picture*/
.profile-photo {
    display: flex;
    padding: 10px;
}

/*This is my main header "JOSELYN ZUNIGA"*/
.text {
    font-family: 'Courier New';
    color: white;
    
    
}

/* Content are my sections on my page. My About Me, Projects, and Contact Info */
/* About Me section. Need to make the side margins smaller*/
.about-me {
    font-family: 'Courier New';
    flex: 4;
    color: white;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    
}
    
/* My Project section. Need to make the side margins smaller*/
.projects {
    font-family: 'Courier New';
    color: white;
    flex: 4;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* My Contact Info section. Need to make the side margins smaller*/
.contact-info {
    font-family: 'Courier New';
    flex: 4;
    color: white;
    padding: 50px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.links-contact {
    color: white;
    flex: 4;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    text-decoration: none;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 200px; 
    padding-top: 30px;  
}

